# Node modules
node_modules/
FrontEnd/node_modules/
FrontEnd/build/
# IDE settings
.idea/
BackEnd/.idea/
BackEnd/src/main/resources/
# Build outputs
target/
BackEnd/target/

# OS files
.DS_Store
Thumbs.db



